table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5rem;
}
input{
    margin-left: 10rem;
    width: 10rem;
}

select{
    margin-left: 10rem;
}

#password,#re-password{
    width: 9rem;
}

