img{
    display: block;
    height: 15rem;
    width: 15rem;
    border-radius: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.form{
    width: 30rem;
    margin-right:auto ;
    margin-left: auto;
    margin-top: 2rem;
}

.bottom{
    width: 30rem;
    height:2.5rem;
    display: flex;
    justify-content: space-between;
    
}

#cancel{
    width: 12%;
    height: 1.5rem;
    margin-top: 0.6rem;
    color: white;
    background-color: rgb(234, 74, 74);
    border: 0;
    border-radius: 0.25rem;
    font-size: x-small;
}
label,#username,#password{
    display: block;
    
}

#username,#password{
    margin-bottom: 1rem;
    width: 29.5rem;
    height: 1.8rem;
    border: 1px solid lightgray;
    padding-left: 0.7rem;
}

label{
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#remember{
    margin-top: 1rem;
    font-size: smaller;
    margin-bottom: 1rem;
}

a{
    margin-top: 1rem;
    margin-right: 5px;
}

#login{
    width: 100%;
    color: white;
    background-color: rgb(4, 171, 4);
    height: 2rem;
    border: 0;
    font-size: medium;
}

#cancel:hover{
    background-color: lightcoral;
}

#login:hover{
    background-color: rgb(93, 166, 93);
}